.skills__container {
  justify-content: center;
}
.skills__content {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
}

.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}
.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}
.skills__group {
  display: grid;
  align-items: center;
  row-gap: 1rem;
}
.skills__data {
  display: flex;
  column-gap: 0.5rem;
}
.skills .bx-badge-check {
  font-size: 1rem;
  color: var(--title-color-dark);
  margin-top: 6px;
}
.skills__name {
  font-size: 20px;
  font-weight: var(--font-medium);
}
.skills__level {
  font-size: var(--tiny-font-size);
  color: var(--title-color);
}

/* @media screen and (max-width: 576px) {
  .skills__content {
    padding: 1rem 3rem;
  }
} */

@media screen and (max-width: 576px) {
  .skills__content {
    padding: 1rem 1rem;
  }
  .skills__box {
    column-gap: 2rem;
  }
}
